.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.btn{
  width: 90%;
  cursor: pointer;
  border-radius: 4px;
  margin-top:20px;
}
.btn1{
  width: 40%;
  cursor: pointer;
  border-radius: 4px;
  margin-top:20px;
}
.btn:hover {
  background-color: #f4d27e;
}
.btn1:hover{
  background-color: #f4d27e;
}
.btn1:active {
  background-color: #f3c808;
  box-shadow: 0 5px #b18802;
  transform: translateY(4px);
}
.btn:active {
  background-color: #f3c808;
  box-shadow: 0 5px #b18802;
  transform: translateY(4px);
}
